dist: trusty
sudo: false
git:
  depth: false
addons:
  apt:
    packages:
    - bedtools
language: python
python:
- '3.6'
before_install:
  - pip install --upgrade pytest
install:
- pip install .[test]
script:
- pytest --cov=mpra_dataset --cov-report xml:coverage.xml 